#sequence {
  width: 80%;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

.explanation-container {
  margin-top: 60px;
  margin-left: 100px;
}

.explanation {
  position: relative;
  display: inline-block;
  margin-left: 100px;
  text-align: center;
  color: #666;
  z-index: -1;
}

.percentage {
  font-size: 2.5em;
}

.size {
  font-size: 18px;
}

#sunburst {
  margin-top: -100px;
}

.sunburst-title {
  font-size: 18px;
  text-align: right;
}