@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #e6e6e6;
    border-bottom: 1px solid #d6d5d5;
}

#main {
    margin-left: 20px;
    margin-right: 20px;
    overflow-x: hidden;
    height: 100%;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
  }
  
  button {
      border-color: rgba(0,0,0,0);
  }

  .dropdown-button:hover {
      background-color: #3e8e41;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  .btn {
      padding: 16px;
      background-color: rgba(0,0,0,0);
      border-color: rgba(0,0,0,0);
      color: #9d9d9d;
  }

  .node {
    border: solid 1px white;
    font: 9px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
  }

  .icon {
      width: 100%;
      height: auto;
  }

  .description {
      vertical-align: bottom;
  }

  #chart {
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  text {
    pointer-events: none;
  }
  .grandparent text {
    font-weight: bold;
  }
  rect {
    stroke: #fff;
    stroke-width: 1px;
  }
  rect.parent,
  .grandparent rect {
    stroke-width: 3px;
  }
  .grandparent:hover rect {
    fill: grey;
  }
  .children rect.parent,
  .grandparent rect {
    cursor: pointer;
  }
  .children rect.child {
    opacity: 0;
  }
  .children rect.parent {
  }
  .children:hover rect.child {
    opacity: 1;
    stroke-width: 1px;
  }
  .children:hover rect.parent {
    opacity: 0;
  }
  .legend {
    margin-bottom:8px !important;
  }
  .legend rect {
    stroke-width: 0px;
  }
  .legend text {
    text-anchor: middle;
    pointer-events: auto;
    font-size: 13px;
    font-family: sans-serif;
    fill: black;
  }
  .form-group {
      text-align:left;
  }
  .textdiv {
      font-family: "Open Sans",Helvetica,Arial,sans-serif;
      font-size: 14px;
      padding: 7px;
      cursor: pointer;
      overflow:none;
  }
  .textdiv .title {
      font-size: 102%;
      font-weight: bold;
      margin-top: 8px;
      font-size:11px !important;
  }
  .textdiv p{
      line-height: 13px;
      margin:0 0 4px !important;
      padding:0px;
      font-size:10px !important;
  }

    #visualization {
    overflow: auto;
    }

    /* h1 {
    font-size: 62px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 1em;
    margin: 1em 0;
    } */

    textarea {
    width: 98%;
    height: 200px;
    }

    line.link {
        fill: none;
        stroke: #9ecae1;
        stroke-width: 1.5px;
    }

    .btn-submit {
        padding: 5px;
        margin-left: 15px;
        margin-bottom: 15px;
        color: white;
        background-color: green;
    }

    label {
        margin-right: 15px; 
    }

    .title {
        font-size: 18px;
        font-weight: 700;
      }
      
      .slope-line {
        stroke: #333;
        stroke-width: 2px;
        stroke-linecap: round;
      }
      
      .slope-label-left, .slope-label-right {
        font-size: 10px;
        cursor: default;
        font-weight: 400;
      }
      
      .label-figure {
        font-weight: 700;
          }
      
      .border-lines {
        stroke: #999;
        stroke-width: 1px;
      }
      
      .voronoi path {
        fill: none;
        pointer-events: all;
      }
      
      .slope-circle {
        fill: white;
        stroke: black;
        stroke-width: 2px;
      }