@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

svg {
  margin: auto;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

form {
  display: block;
}

form p {
  margin-left: 10px;
  margin-top: 15px;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main .top-row {
    position: fixed;
    background-color: #e6e6e6;
    border-bottom: 1px solid #d6d5d5;
    width: 98%;
}

#options { 
  width: 100%;
  text-align: center;
  z-index: 999999;
}

#main {
    margin-left: 20px;
    margin-right: 20px;
    overflow-x: hidden;
    width: 100%;
    top: 5%;
    position: absolute;
    /* left: 20%; */
}


button, button:hover, button:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.collapse {
  background-color: rgb(0,0,0,0);
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
  z-index: 9999;
  position: fixed;
}
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: relative;
  /* top right corner of the sidebar */
  top: 10px;
  right: -200px;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

#sidebar.active {
  margin-left: -250px;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

.nav {
  color: black;
}

.navbar-inverse {
  background-color: white;
  border-color: white;
}

.navbar-brand .navbar-inverse {
  color: black;
}

.navbar-nav>.open>a {
  background-color: lightgray !important;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    /* .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    } */

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: none;
  border: none;
}
  
button {
    border-color: rgba(0,0,0,0);
}

.dropdown-button {
  padding: 7px;
  display: block;
}

.dropdown-button:hover {
    background-color: #3e8e41;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.btn {
    padding: 15px;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    color: black !important;
    font-size: 18px;
}

.btn:hover {
  color: green !important;
  background-color: lightgray !important;
}

.node {
  border: solid 1px white;
  font: 9px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.icon {
    width: 100%;
    height: auto;
}

.description {
    vertical-align: bottom;
}

#chart {
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

text {
  pointer-events: none;
}
.grandparent text {
  font-weight: bold;
}
rect {
  stroke: #fff;
  stroke-width: 1px;
}
rect.parent,
.grandparent rect {
  stroke-width: 3px;
}
.grandparent:hover rect {
  fill: grey;
}
.children rect.parent,
.grandparent rect {
  cursor: pointer;
}
.children rect.child {
  opacity: 0;
}
.children rect.parent {
}
.children:hover rect.child {
  opacity: 1;
  stroke-width: 1px;
}
.children:hover rect.parent {
  opacity: 0;
}
.legend {
  margin-bottom:8px !important;
}
.legend rect {
  stroke-width: 0px;
}
.legend text {
  text-anchor: middle;
  pointer-events: auto;
  font-size: 13px;
  font-family: sans-serif;
  fill: black;
}
.form-group {
    text-align:left;
}
.textdiv {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 7px;
    cursor: pointer;
    overflow:none;
}
.textdiv .title {
    font-size: 102%;
    font-weight: bold;
    margin-top: 8px;
    font-size:11px !important;
}
.textdiv p{
    line-height: 13px;
    margin:0 0 4px !important;
    padding:0px;
    font-size:10px !important;
}

#visualization {
overflow: auto;
}

.tree {
  width: 49%;
  display: inline-block;
}

#treemap-container {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5%;
}

.line-viz {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 95%;
  margin: auto;
  margin-bottom: 1.5%;
}

#in-tree {
  width: 95%;
}

textarea {
width: 98%;
height: 200px;
}

line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

.btn-submit {
    padding: 5px;
    margin: 10px 15px 15px 30px;
    color: white !important;
    background-color: green;
    font-size: 14px;
}

label {
    margin-right: 15px; 
}

.title {
    font-size: 18px;
    font-weight: 700;
  }
      
.slope-line {
  stroke: #333;
  stroke-width: 2px;
  stroke-linecap: round;
}

.slope-label-left, .slope-label-right {
  font-size: 10px;
  cursor: default;
  font-weight: 400;
}

.label-figure {
  font-weight: 700;
    }

.border-lines {
  stroke: #999;
  stroke-width: 1px;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

.slope-circle {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}

.tooltip {
    position: absolute;
    background-color: lightgray;
    padding: 5px;
    opacity: 0.8;
    font-size: 12px;
}

.chart-title {
  text-align: center;
}

.description {
  text-align: center;
  margin-bottom: 2%;
}

.menu {
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#landing {
  margin: auto;
  position: fixed;
  width: 50%;
  top: 50%;
  left: 25%;
  background-color: rgb(158, 202, 225, 0.7);
  padding: 15px;
  border-radius: 15px;
}

.landing-title {
  text-align: center;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.row {
  width: 98%;
  margin: auto;
}

.option-button {
  margin-top: 15px;
  margin-left: 15px;
}
